.hero-section{
    width: 100%;
    padding: 10px;
    padding-bottom: 0;
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.heading p{
    color: #A1A7BB;
    font-size: 15px;
}

.heading strong{
    font-size: 16px;
}

.heading label{
    text-decoration: underline;
    cursor: pointer;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;  
  border-radius: 8px;
  padding: 10px 20px;
  margin-top: 10px;
}

.nav-scroll-btn {
  background-color: transparent;
  color: grey;
  border: 1px solid #ccc;
  border: none;
  outline: none;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  font-size: 22px;
}

.nav-scroll-btn--left {
  margin-right: 10px;
}

.nav-scroll-btn--right {
  margin-left: 10px;
}



/* Navigation Bar */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  gap: 15px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nav-item__icon {
  margin-right: 8px;
  font-size: 18px;
  color: #F7630C;
}

.recycle{
  margin-right: 8px;
  font-size: 16px;
  color: #16C60C;
}

.nav-item__link {
  font-size: 14px;
  color: grey;
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
  padding-left: 0;
  border-radius: 4px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.nav-item__link--active {
  background-color: transparent; 
  color: white;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: underline;
  font-size: 14px;
}

.crypto-section-controls{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.category-tabs{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.category-tab-group{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: grey;
  border-radius: 5px;
}

.category-tab, .category-highlight{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.category-tab {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: #fff;
  padding: 4px 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.category-tab .active{
  background-color: #333;
  padding: 5px 8px;
  border-radius: 5px;
}

.category-tab a {
  text-decoration: none;
  color: inherit;
}

.category-tab .active {
  font-weight: bold;
  color: #fff;
}

.category-highlight {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: grey;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.top{
  background-color: #1E274F;
  padding: 5px 10px;
  color: #8096f8;
}

.new{
  color: rgb(158, 8, 158);
}

.gainers{
  color: #16C60C;
}

.most-visited{
  color: #00cefc;
}

.category-highlight h3 {
  margin: 0;
  font-size: 16px;
}

.filter-controls {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.filter-option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  transition: all 0.3s ease;
  background-color: rgb(117, 116, 116);
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 12px;
}

.filter-option:hover {
  background-color: rgb(156, 156, 156);
}

.filter-option h3 {
  margin: 0;
}

.dropdown-container select {
  padding: 8px 15px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  color: #fff;
  transition: border 0.3s ease;
  background-color: rgb(117, 116, 116);
  font-weight: bold;
}

.dropdown-container select option {
  padding: 10px;
  font-size: 14px;
}

.cards{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
  gap: 10px;
}

.trending-coins {
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  background-color: #222531;
  cursor: pointer;
  min-height: 100%;
}

.trending-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trending-header h3 {
  margin: 0;
  font-size: 1.2rem;
  
}

.navigate-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 8px;
  color: grey;
}

.trending-icons {
  display: flex;
  gap: 5px;
  background-color: #323546;
  padding: 3px 5px;
  border-radius: 5px;
}

.trending-icons .icon {
  color: #888;
  font-size: .8rem;
  border-radius: 5px;
  padding: 5px;
}

.trending-icons .icon:hover{
  color: white;
}

.trending-icons .icon.active {
  background-color: #1e1e1e;
  color: white;
}


.top-supply-list{
  margin-top: 10px;
}

.supply-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: white;
  table-layout: fixed;
}

.supply-table td {
  padding: 8px 12px;
  text-align: left;
}

.supply-table td:first-child {
  font-weight: bold;
  width: 20px;
}

.supply-table td:last-child {
  text-align: center;
}

.supply-table td:nth-child(2) {
  font-weight: 500;
  font-size: 16px;
}

.supply-table td:nth-child(3) {
  font-weight: 500;
}

.supply-table td:nth-child(4) {
  text-align: center;
}

.sparkline-cell {
  padding: 0;
}

.supply-table .green {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #16c784;
}

.supply-table .red {
  color: #ea3943;
}

.sparkline-cell {
  min-width: 100px;
  height: 30px;
  padding: 0;
}

.coin-stats-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.coin-stat-card {
  background-color: #222531;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  cursor: pointer;
  min-width: max-content;
}

.coin-stat-card h3 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.coin-stat-card h3 button {
  background: none;
  border: none;
  font-size: 18px;
  color: #A1A7BB;
  cursor: pointer;
}

.coin-stat-card h3 button:hover {
  color: #8096f8;
}

.coin-stat-card h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  color: #fff;
}

.coin-stat-card h4 {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.coin-stat-card .green {
  color: #16c784;
}

.coin-stat-card .red {
  color: #ea3943;
}

.coin-stat-card .green .faCaretUp,
.coin-stat-card .red .faCaretDown {
  margin-right: 8px;
}

.coin-stat-card .sparkline-cell {
  width: 100%;
  height: 30px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.news {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between; 
  width: 100%;
  align-items: stretch;
}

.news-card {
  background-color: #212430;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.news-card-header {
  display: flex;
  align-items: center;
}

.news-card-header img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}

.prediction{
  min-width: max-content;
  display: flex;
  align-items: center;
  gap: 15px;
}

.prediction img{
  width: 70px;
  height: 70px;
  border-radius: 5px;
  margin-top: 10px;
}

.news-card-header h3 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.news-card-header p {
  font-size: 14px;
  color: #888;
  margin: 0;
}

.news-card p {
  font-size: 14px;
  color: #fff;
  line-height: 1.6;
  margin: 5px 0;
}

.news-card-header p {
  font-size: 14px;
  font-weight: bold;
  color: #888;
  line-height: 1.6;
  margin: 0;
  margin-left: 3px;
}

.news-card label {
  font-size: 14px;
  color: #888;
  display: flex;
  align-items: center;
  gap: 10px;
}

.news-card label .fa-icon {
  font-size: 16px;
}


